build/
*.*~
lib/
posix/codegen/error_gen
posix/codegen/flags_gen
posix/codegen/whence_gen
posix/codegen/limits_gen
posix/codegen/filetype_gen
posix/codegen/signal_gen
posix/codegen/timer_gen
posix/support/posix.o
posix/support/posix-idris
linux/codegen/inotify_gen
linux/codegen/signalfd_gen
linux/codegen/timerfd_gen
linux/support/linux.o
linux/support/linux-idris
